@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-apercu);
}

h1 {
  font-size: 72px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

button {
  font-family: inherit;
}

input.userInfo {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #2E30FF;
}

#loginBtn:hover {
  filter: brightness(1.25);
}
